.flex-container{
    display:flex;
}
header{
    font-size: 150%;
    color:aqua;
    margin:120px;
}
nav{
font-weight:500;
}
main{
color:aquamarine;
font-size: 1em;
}
footer{
font-family: 'Courier New', Courier, monospace;
}